!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Site
      img(src='/images/face.jpg')
    .container
      .main-content
        block contentsss navin
      .sidebar
        block sidebar
        img(src='/images/face.jpg')img(src='/images/face.jpg')
    footer
      p Running on node with Express, Jade and Stylus
